<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
	<Product Id="{7800F3F4-7F04-4AA8-9574-2A4B5F2803AF}" Name="S1FileSync" Language="1033" Codepage="65001" Version="1.0.0.0" Manufacturer="Jay9011" UpgradeCode="6ed4c294-9800-4c99-85a3-cb6f1a9f8d99">
		<Package Id="*" InstallerVersion="200" Compressed="yes" InstallScope="perMachine" InstallPrivileges="elevated" 
		         Keywords="Installer,MSI" Description="S1FileSync - File Synchronization Program" Comments="File Synchronization Program and Service"/>

		<MajorUpgrade Schedule="afterInstallInitialize"
		              DowngradeErrorMessage="A newer version of [ProductName] is already installed."
		              AllowSameVersionUpgrades="yes"/>

		<MediaTemplate EmbedCab="yes"/>

		<Icon Id="app.ico" SourceFile="$(var.S1FileSync.ProjectDir)Assets\app.ico"/>
		<Property Id="ARPPRODUCTICON" Value="app.ico" />
		<Property Id="ARPNOREPAIR" Value="yes" Secure="yes" />
		<Property Id="ARPCONTACT" Value="Jay9011" />
		<Property Id="ARPCOMMENTS" Value="File Synchronization Program and Service" />

		<Condition Message="Administrator privileges are required.">
			Privileged
		</Condition>

		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="S1FileSync">
					<Directory Id="ServiceFolder" Name="Service" />
				</Directory>
			</Directory>
		</Directory>

		<Feature Id="Complete" Title="S1FileSync" Level="1"
		         Description="File synchronization program with background service"
		         Display="expand" ConfigurableDirectory="INSTALLFOLDER">

			<ComponentGroupRef Id="CombinedComponents"/>
			<ComponentRef Id="ServiceExecutable" />
			<ComponentRef Id="ServiceInfoFile" />
			<ComponentRef Id="StartupRegistryEntry" />
		</Feature>

		<UI>
			<UIRef Id="WixUI_InstallDir" />
			<Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
		</UI>
	</Product>
	<Fragment>
		<Component Id="ServiceExecutable" Directory="INSTALLFOLDER" Guid="*">
			<File Id="ServiceEXE"
			      Name="S1FileSyncService.exe"
			      Source="$(var.CombinedSourceDir)\S1FileSyncService.exe"
			      KeyPath="yes" />

			<!-- 서비스 설치 및 제어 정의 -->
			<ServiceInstall Id="ServiceInstaller"
			                Type="ownProcess"
			                Name="S1FileSyncService"
			                DisplayName="S1 File Sync Service"
			                Description="File synchronization service"
			                Start="demand"
			                ErrorControl="normal"
			                Account="NT AUTHORITY\LocalService"
			                Password="">
				<util:ServiceConfig FirstFailureActionType="restart" SecondFailureActionType="restart" ThirdFailureActionType="restart" 
				                    RestartServiceDelayInSeconds="60"
				                    ResetPeriodInDays="1"/>
				<Permission User="Users" ServicePipeAccess="readWrite"/>
			</ServiceInstall>

			<ServiceControl Id="StartService"
			                Stop="both"
			                Remove="uninstall"
			                Name="S1FileSyncService"
			                Wait="yes" />
		</Component>
	</Fragment>
	<Fragment>
		<Component Id="ServiceInfoFile" Directory="INSTALLFOLDER" Guid="*">
			<File Id="ServiceInfoINI"
			      Name="ServiceInfo.ini"
			      Source="$(var.ServiceConfigFolder)\ServiceInfo.ini"
			      KeyPath="yes" />
		</Component>
	</Fragment>
</Wix>