<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="TARGETDIR">
            <Component Id="cmp8307B2D26E1E108F7B75AD8F81072095" Guid="{88B41C48-0904-411F-A525-5749B9FC044D}">
                <File Id="filBFAE1A1EA4A95EFE2C3D6D3368F31CC6" KeyPath="yes" Source="SourceDir\FileIOHelper.dll" />
            </Component>
            <Component Id="cmp4CC77AE9745EFFB4A154C662E66EF787" Guid="{3607E3BC-16E3-49C1-8E73-DF430F5E2D15}">
                <File Id="filBC13F452F31FF29F68597AB92CB2EF76" KeyPath="yes" Source="SourceDir\FileIOHelper.pdb" />
            </Component>
            <Component Id="cmp8FF20BB6E9E1039BAAF705C6E421B34E" Guid="{694472C7-A387-49B6-BA27-790B0FBBB573}">
                <File Id="filF640FB5F13E97BAD50106FFC74CA0515" KeyPath="yes" Source="SourceDir\Microsoft.Extensions.Configuration.Abstractions.dll" />
            </Component>
            <Component Id="cmp9600FEB1902D7DA917FD445DDA9F3CBA" Guid="{05A1B9A3-AF5C-4936-991C-00583E5A5960}">
                <File Id="fil773A346D214AC0962FABFD5068676C36" KeyPath="yes" Source="SourceDir\Microsoft.Extensions.Configuration.Binder.dll" />
            </Component>
            <Component Id="cmpC24EEDAC14BC8A3132D06C7ECB2ED932" Guid="{029B0CA4-0032-4EE6-85E5-08A49B1D28BC}">
                <File Id="fil793D73F9E103B46F2186AAB4A806D8BC" KeyPath="yes" Source="SourceDir\Microsoft.Extensions.Configuration.CommandLine.dll" />
            </Component>
            <Component Id="cmp9F2C63E021EEC1097662A0016E3A9437" Guid="{F6150E93-D3DA-4DA7-8904-699F7A119C60}">
                <File Id="fil2A9A0281FD23F23037DB0F8E3D6A5CBD" KeyPath="yes" Source="SourceDir\Microsoft.Extensions.Configuration.dll" />
            </Component>
            <Component Id="cmp1BE21D90724DF0B75F0DD1D3D33CC81E" Guid="{12CCEE4E-4BA1-4229-A28B-A6947630F6FD}">
                <File Id="fil04C09EE802816D0E1D4E2CF5EFDF75C7" KeyPath="yes" Source="SourceDir\Microsoft.Extensions.Configuration.EnvironmentVariables.dll" />
            </Component>
            <Component Id="cmp9A2CE43A4C68F068A7DCE986EE90E208" Guid="{0D828D47-F9AC-491C-951F-2FE12911D6D8}">
                <File Id="fil099B8E4B5B574358F0790F30628060C0" KeyPath="yes" Source="SourceDir\Microsoft.Extensions.Configuration.FileExtensions.dll" />
            </Component>
            <Component Id="cmpCB3A5D76A5E05336DC3B3CA1B4F454AC" Guid="{795FE4AD-0E8F-4BD9-8E0E-FCF3D79B38CE}">
                <File Id="fil28A85E1F38ABF61F6B4B8B485B436D8E" KeyPath="yes" Source="SourceDir\Microsoft.Extensions.Configuration.Json.dll" />
            </Component>
            <Component Id="cmp594F24AEF95ABB04BE4D3708FE996DB3" Guid="{08F1B08C-684A-4447-B75E-F9457A082B96}">
                <File Id="fil212A10A47256A218E73D2EFD08223575" KeyPath="yes" Source="SourceDir\Microsoft.Extensions.Configuration.UserSecrets.dll" />
            </Component>
            <Component Id="cmpBCA2D2639D9EACD23CDC73FE80070E9B" Guid="{231D0F32-25F3-46A4-A0BF-B483A7F979B0}">
                <File Id="fil80254EA06ED1970F3724C7F2D98F487C" KeyPath="yes" Source="SourceDir\Microsoft.Extensions.DependencyInjection.Abstractions.dll" />
            </Component>
            <Component Id="cmpA81A02C8B473EDEBF6F26F9844427DBC" Guid="{D0B36B50-4DC1-4B06-9258-77C015FCEAC0}">
                <File Id="fil0279174A8B678BBAEA3CB15C09A05058" KeyPath="yes" Source="SourceDir\Microsoft.Extensions.DependencyInjection.dll" />
            </Component>
            <Component Id="cmp451F4AE6F8347C602A8BCA4E87BF8C01" Guid="{6BEBD32E-0F22-4656-9455-A605B395410C}">
                <File Id="fil7B4DCCEA62464242CAB62CBAC51547B6" KeyPath="yes" Source="SourceDir\Microsoft.Extensions.Diagnostics.Abstractions.dll" />
            </Component>
            <Component Id="cmpFB9FF7DD886AE0B04C71FEAAEE61AB8A" Guid="{38FA10EB-283E-4409-B753-078B4789A4C9}">
                <File Id="filEA3BBBD145872E96C7E8EBAE435F642A" KeyPath="yes" Source="SourceDir\Microsoft.Extensions.Diagnostics.dll" />
            </Component>
            <Component Id="cmpCB4D6C6861A296D02F18EF5F7F637249" Guid="{45344365-A2DF-4EAF-A4C8-F669CF2ABD51}">
                <File Id="filC41FA828CE13679EA1B25A5EC4AB82D7" KeyPath="yes" Source="SourceDir\Microsoft.Extensions.FileProviders.Abstractions.dll" />
            </Component>
            <Component Id="cmp75CE102DEC9E6B31BBFEE1083624A0FE" Guid="{F409DCC3-A129-4AB4-9D93-9DD62DD923C8}">
                <File Id="filC91AF9F5BCC87EA46713DA19BEE6964B" KeyPath="yes" Source="SourceDir\Microsoft.Extensions.FileProviders.Physical.dll" />
            </Component>
            <Component Id="cmp8F52B0D9603B8CDF0CE9B808F29E8C04" Guid="{4EC0A47B-6FBD-4E24-A5DE-24D344EB6EAD}">
                <File Id="fil38E59ABE4B27B3E3F3BD4C4F6C36E7E7" KeyPath="yes" Source="SourceDir\Microsoft.Extensions.FileSystemGlobbing.dll" />
            </Component>
            <Component Id="cmpEF9B2FF9DB48B0972089B34D67A5D060" Guid="{E11108EE-9452-4F92-A4D4-A3FBC995D965}">
                <File Id="fil5E8949978DA2E6E402855CC198D2802B" KeyPath="yes" Source="SourceDir\Microsoft.Extensions.Hosting.Abstractions.dll" />
            </Component>
            <Component Id="cmp751F9B6DD4D2A91D5A70FD8891531D41" Guid="{346A7548-6215-4442-B84F-CDB70FDCCC47}">
                <File Id="fil2A2FBE54B049D9F20BEFDE4AFAAD995B" KeyPath="yes" Source="SourceDir\Microsoft.Extensions.Hosting.dll" />
            </Component>
            <Component Id="cmp51357B8BE38BDBEC4650E16F679193C1" Guid="{683A827E-41F2-451E-8415-1BEB1374AA9B}">
                <File Id="filCEE87DAF42DD244A77D3FF1358934C20" KeyPath="yes" Source="SourceDir\Microsoft.Extensions.Logging.Abstractions.dll" />
            </Component>
            <Component Id="cmp6459EAE4F3186977729DAB35188B8BD6" Guid="{91C67318-2CBE-47D2-ABBA-D6C810341DD8}">
                <File Id="fil7703CA988C3720C915B2DC21D3E0A7BF" KeyPath="yes" Source="SourceDir\Microsoft.Extensions.Logging.Configuration.dll" />
            </Component>
            <Component Id="cmp71EE718E97453772376AE2A1C2A4E5E5" Guid="{2337B3B2-9D31-4916-807F-314D0D6BA651}">
                <File Id="filE2BEE5A099D714B38FEF04E0D3985DE5" KeyPath="yes" Source="SourceDir\Microsoft.Extensions.Logging.Console.dll" />
            </Component>
            <Component Id="cmp2CE2ED6E0BA3E8340E3F18A44ADF0779" Guid="{EDEB8A53-225E-4119-B2D3-378057045D69}">
                <File Id="fil0AC76E28495B36C1A7B50DE53A8BA1EB" KeyPath="yes" Source="SourceDir\Microsoft.Extensions.Logging.Debug.dll" />
            </Component>
            <Component Id="cmp23B7C44B649DFD4F12BF865A29A494C2" Guid="{E5650C94-EE2C-40A2-B786-97169CFCCA39}">
                <File Id="filC6B97A68142D712CE291E1D18CCE23B8" KeyPath="yes" Source="SourceDir\Microsoft.Extensions.Logging.dll" />
            </Component>
            <Component Id="cmpF7A7B31C33B25D213EA640F25AA5D206" Guid="{9CDB8DBB-61DF-4094-897D-3DFD288FA647}">
                <File Id="filEFAC4E49FEF648B625B395AA2974A6E8" KeyPath="yes" Source="SourceDir\Microsoft.Extensions.Logging.EventLog.dll" />
            </Component>
            <Component Id="cmpEC7EC6D39CB3E1037D32F33BFC159139" Guid="{E979CDFF-DC2B-46A7-B319-B6144022073E}">
                <File Id="fil2310630D5EE28D69859680E1B0A65DD6" KeyPath="yes" Source="SourceDir\Microsoft.Extensions.Logging.EventSource.dll" />
            </Component>
            <Component Id="cmpFEED22B46045D2ED37D8AC77897D31B6" Guid="{881F0D2A-6030-48B1-AFED-ADBCDFBB84E6}">
                <File Id="fil226D03808184A9B5A8A7AD72CBB4B8EC" KeyPath="yes" Source="SourceDir\Microsoft.Extensions.Options.ConfigurationExtensions.dll" />
            </Component>
            <Component Id="cmpF2C47B5B4FF40FF256F58C4C998FA865" Guid="{F87581ED-538E-41DF-8E8C-09D6F0019A39}">
                <File Id="fil6C5BAA927055E2EA4DDC0C2759255D9F" KeyPath="yes" Source="SourceDir\Microsoft.Extensions.Options.dll" />
            </Component>
            <Component Id="cmp067948BD791077DB950FC74F23D9632C" Guid="{35808296-46B4-4319-89A2-40C1DE85B77B}">
                <File Id="filE8C60BD18DF0BCBB77CEC821646DA670" KeyPath="yes" Source="SourceDir\Microsoft.Extensions.Primitives.dll" />
            </Component>
            <Component Id="cmpD79FD996993ECA3AD0EBF7932F931567" Guid="{CD67827A-CE44-409F-BD6F-9983EBBB4FE2}">
                <File Id="fil629A28C79E1544D5651AD0A574419C28" KeyPath="yes" Source="SourceDir\NetConnectionHelper.dll" />
            </Component>
            <Component Id="cmp948174E2536DCD055B912932BD3F09CE" Guid="{0D231108-B36E-440D-9CA5-4DE0EF1B2D45}">
                <File Id="fil63E0FC9C95F4659FFEB7A9B8B6B62922" KeyPath="yes" Source="SourceDir\NetConnectionHelper.pdb" />
            </Component>
            <Component Id="cmpDA2D46AA4804FB0941A21D86D2D44D79" Guid="{343B346C-ADA7-41D6-9A6F-84BA357DF034}">
                <File Id="fil903F69827C19C947097F01F7CB84AB62" KeyPath="yes" Source="SourceDir\S1FileSync.deps.json" />
            </Component>
            <Component Id="cmpDE6561378AD236E11A451818B8015764" Guid="{38F0780C-A862-460B-9B29-61828002D5D7}">
                <File Id="fil6AC1BAB11229E05AD4CFC66505684EF3" KeyPath="yes" Source="SourceDir\S1FileSync.dll" />
            </Component>
            <Component Id="cmp2E853D67B65F4C3AC7CF3630655A040A" Guid="{D2C718DD-9335-4766-B28B-72B1ECF663E5}">
                <File Id="fil75B7ACECBC5F643D1E284FF83C2D3C81" KeyPath="yes" Source="SourceDir\S1FileSync.exe" />
            </Component>
            <Component Id="cmpE87D17BC8D7B3438E2619268C945B0E1" Guid="{D3F7382A-FAF6-4504-87B6-316077CED6CC}">
                <File Id="fil00AD7A68FD30939BAB194181CB49E3E7" KeyPath="yes" Source="SourceDir\S1FileSync.pdb" />
            </Component>
            <Component Id="cmpF8ADDC26BD5FCF72ACB97F6A0FABA55A" Guid="{0699B7A4-33FC-4081-96DD-5543824EF5CA}">
                <File Id="fil713E0EC0C6308C643C2D5166EA29B655" KeyPath="yes" Source="SourceDir\S1FileSync.runtimeconfig.json" />
            </Component>
            <Component Id="cmpC183B97736D9906A2565561D2128CB03" Guid="{BBA5711B-C72C-4F15-AA99-74DD06EB12F3}">
                <File Id="fil39EBF1C62D2AF641AB4284E1DDF4E3CD" KeyPath="yes" Source="SourceDir\System.Diagnostics.EventLog.dll" />
            </Component>
            <Directory Id="dirD7F3F426DE7D827AD1059D22DE8AEC32" Name="runtimes">
                <Directory Id="dir53ABB208FA32768A6656757E8D4217CE" Name="win">
                    <Directory Id="dir02D3C58AF36540B10FFB3A2B0BB31325" Name="lib">
                        <Directory Id="dir08C8CF1826CF7121B9BA07099E7435DD" Name="net8.0">
                            <Component Id="cmp43FD7CE2110DC338234308F1AD836C70" Guid="{D23ACB12-1810-4BB9-8C87-90551B79AB70}">
                                <File Id="fil03204BE0F4D1B5B833D325270D826448" KeyPath="yes" Source="SourceDir\runtimes\win\lib\net8.0\System.Diagnostics.EventLog.dll" />
                            </Component>
                        </Directory>
                    </Directory>
                </Directory>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="HeatGenerated_MainAppComponents">
            <ComponentRef Id="cmp8307B2D26E1E108F7B75AD8F81072095" />
            <ComponentRef Id="cmp4CC77AE9745EFFB4A154C662E66EF787" />
            <ComponentRef Id="cmp8FF20BB6E9E1039BAAF705C6E421B34E" />
            <ComponentRef Id="cmp9600FEB1902D7DA917FD445DDA9F3CBA" />
            <ComponentRef Id="cmpC24EEDAC14BC8A3132D06C7ECB2ED932" />
            <ComponentRef Id="cmp9F2C63E021EEC1097662A0016E3A9437" />
            <ComponentRef Id="cmp1BE21D90724DF0B75F0DD1D3D33CC81E" />
            <ComponentRef Id="cmp9A2CE43A4C68F068A7DCE986EE90E208" />
            <ComponentRef Id="cmpCB3A5D76A5E05336DC3B3CA1B4F454AC" />
            <ComponentRef Id="cmp594F24AEF95ABB04BE4D3708FE996DB3" />
            <ComponentRef Id="cmpBCA2D2639D9EACD23CDC73FE80070E9B" />
            <ComponentRef Id="cmpA81A02C8B473EDEBF6F26F9844427DBC" />
            <ComponentRef Id="cmp451F4AE6F8347C602A8BCA4E87BF8C01" />
            <ComponentRef Id="cmpFB9FF7DD886AE0B04C71FEAAEE61AB8A" />
            <ComponentRef Id="cmpCB4D6C6861A296D02F18EF5F7F637249" />
            <ComponentRef Id="cmp75CE102DEC9E6B31BBFEE1083624A0FE" />
            <ComponentRef Id="cmp8F52B0D9603B8CDF0CE9B808F29E8C04" />
            <ComponentRef Id="cmpEF9B2FF9DB48B0972089B34D67A5D060" />
            <ComponentRef Id="cmp751F9B6DD4D2A91D5A70FD8891531D41" />
            <ComponentRef Id="cmp51357B8BE38BDBEC4650E16F679193C1" />
            <ComponentRef Id="cmp6459EAE4F3186977729DAB35188B8BD6" />
            <ComponentRef Id="cmp71EE718E97453772376AE2A1C2A4E5E5" />
            <ComponentRef Id="cmp2CE2ED6E0BA3E8340E3F18A44ADF0779" />
            <ComponentRef Id="cmp23B7C44B649DFD4F12BF865A29A494C2" />
            <ComponentRef Id="cmpF7A7B31C33B25D213EA640F25AA5D206" />
            <ComponentRef Id="cmpEC7EC6D39CB3E1037D32F33BFC159139" />
            <ComponentRef Id="cmpFEED22B46045D2ED37D8AC77897D31B6" />
            <ComponentRef Id="cmpF2C47B5B4FF40FF256F58C4C998FA865" />
            <ComponentRef Id="cmp067948BD791077DB950FC74F23D9632C" />
            <ComponentRef Id="cmpD79FD996993ECA3AD0EBF7932F931567" />
            <ComponentRef Id="cmp948174E2536DCD055B912932BD3F09CE" />
            <ComponentRef Id="cmpDA2D46AA4804FB0941A21D86D2D44D79" />
            <ComponentRef Id="cmpDE6561378AD236E11A451818B8015764" />
            <ComponentRef Id="cmp2E853D67B65F4C3AC7CF3630655A040A" />
            <ComponentRef Id="cmpE87D17BC8D7B3438E2619268C945B0E1" />
            <ComponentRef Id="cmpF8ADDC26BD5FCF72ACB97F6A0FABA55A" />
            <ComponentRef Id="cmpC183B97736D9906A2565561D2128CB03" />
            <ComponentRef Id="cmp43FD7CE2110DC338234308F1AD836C70" />
        </ComponentGroup>
    </Fragment>
</Wix>